{% extends 'spookyducky/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <style>
        body{
        	font-family:Arial,Helvetica,sans-serif;
        	font-size: 12px;
        }
    </style>
    
    {{ state }}
	<form action="{% url 'spookyducky:login' %}" method="post">
	    {% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}">
		{% endif %}
		username:
		<input type="text" name="username" value="{{ username}}">
		password:
		<input type="password" name="password" value="">

		<input type="submit" value="Get some">
	</form>
{% endblock %}
